@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', sans-serif;
    color: #eee;
    background-color: #4d0707;
    text-align: center;
}

header {
    padding: 20px;
}

h1 {
    font-size: 2rem;
}

.btn {
    border: none;
    background-color: #eee;
    color: #222;
    font-size: 1.5rem;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background-color: #ccc;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    justify-content: center;
    margin: 30px auto;
    max-width: 450px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: transparent;
    cursor: pointer;
    border-radius: 10px;
}

.card.revealed {
    color: #222;
    background-color: #60b347;
}

.score-board {
    margin-top: 20px;
    font-size: 1.5rem;
}

/* Mobile responsiveness */
@media (max-width: 600px) {
    .game-board {
        grid-template-columns: repeat(3, 100px); /* 3 columns on smaller screens */
    }

    .score-board {
        font-size: 1rem;
    }
}
